{% extends "base.html" %}
{% load static %}
{% block css_file %}
        <link rel="stylesheet preload" as="style" href="{% static "css/preload.min.css" %}" />
        <link rel="stylesheet preload" as="style" href="{% static "css/libs.min.css" %}" />
        <style type="text/css">
            .player {
              border-radius: 10px;
              overflow: hidden;
              z-index: 1;
              height: 420px;
              width: 100%;
            }
        .avatar {
            padding: .3em;
            margin-left: .3em;
            margin-top: .3em;
            margin-bottom: .3em;
            height: 5.50em;
            width: 5.50em;
            border-radius: 81em;
    }

      </style>
        <link rel="stylesheet" href="{% static "css/post.min.css" %}" />
            <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>

{% endblock css_file %}
{% block content %}
    
         <header class="page">
            <div class="container">
                <ul class="breadcrumbs d-flex flex-wrap align-content-center">
                    <li class="list-item">
                        <a class="link" href="/">Anasayfa</a>
                    </li>

                    <li class="list-item">
                        <a class="link" href="{% url 'posts' %}">Dersler</a>
                    </li>
                    <li class="list-item">
                        <a class="link" href="#">{{ content.title }}</a>
                    </li>
                </ul>
                <h1 class="page_title">{{ content.title }}</h1>
            </div>
        </header>
        <!-- post content start -->
        <main>
            <div class="post section">
                <div class="container sticky-parent d-lg-flex justify-content-between align-items-start">
                    <div class="post_main">
                        <div class="post_main-article">
                            <div class="media media--main">
                                <picture>
                                    <div class="player">
<iframe width="100%" height="420" src="https://www.youtube.com/embed/{{content.video_link}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>  
                                </picture>
                            </div>
                            <div class="post_main-article_metadata">
                                <span class="item d-inline-flex align-items-center">
                                    <i class="icon-calendar icon"></i>
                                    {{content.date_added|date:"F d, Y"}}
                                </span>
                                <span class="item d-inline-flex align-items-center">
                                    Katogori:
                                    <a href="{{content.get_cat_url}}">{{ content.category }}</a>
                                </span> 
                                 {% if content.id in already_liked %} 
                                          <span  class="main_amenities-item d-inline-flex align-items-center">
                                            <i name="{{ content.slug }}" id="like" class='likin bx bxs-like'>{{content.total_likes}}</i>
                                            <i name="tot_like"></i>
                                {% else %}
                                            <i name="{{ content.slug }}" id="like" class='likin bx bx-like'>{{content.total_likes}}</i> 
                                            <i name="tot_like"></i>

                                        </span>
                                {% endif %}
                                
                                
                                
                            </div> 
                        <div class="post_main-footer">
                            {% if tags %}
                            <div class="post_main-footer_tags d-flex flex-wrap align-items-center">
                                <h4 class="title">Taglar</h4>
                                <ul class="list d-flex flex-wrap align-items-center">
                                   {% for tag  in tags %}
                                       <li class="list-item">
                                        <a class="link" href="#">{{tag}}</a>
                                    </li>
                                   {% endfor %}
                                    
                                </ul>
                            </div>
                            {% endif %}
                            <div class="post_main-footer_nav d-flex flex-wrap justify-content-between">
                                <a class="nav-block nav-block--prev h5 d-inline-flex align-items-center" href="#">
                                    <span class="theme-element theme-element--light">
                                        <i class="icon-arrow_left icon"></i>
                                    </span>
                                    <span class="title">Things hostels do better than posh hotels</span>
                                </a>
                                <a class="nav-block nav-block--next h5 d-inline-flex flex-row-reverse align-items-center">
                                    <span class="theme-element theme-element--light">
                                        <i class="icon-arrow_right icon"></i>
                                    </span>
                                    <span class="title">Important Tips for Traveling with Friends</span>
                                </a>
                            </div>
                            <div class="post_main-footer_author d-sm-flex">
                                <div class="media">
                                    <picture>
                                        <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                        <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                    </picture>
                                </div>
                                <div class="main">
                                    <span class="name h4">Ebu Zeyd Hoca</span>
                                    <p class="bio">
                                        Dignissim convallis aenean et tortor. Lorem donec massa sapien faucibus et molestie ac. Platea
                                        dictumst quisque sagittis purus sit amet
                                    </p>
                                    <ul class="socials d-flex align-items-center">
                                        <li class="list-item">
                                            <a class="link" href="">
                                                <i class="icon-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-item">
                                            <a class="link" href="">
                                                <i class="icon-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-item">
                                            <a class="link" href="">
                                                <i class="icon-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-item">
                                            <a class="link" href="">
                                                <i class="icon-whatsapp"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if comments %}
                        <section class="post_main-comments" id="yorumlar">
                            <h3 class="post_main-comments_header">Yorumlar</h3>
                            <ul id="yorumlarss" class="post_main-comments_list">
                                  {% for comment in comments %}
                                        
                                <li id="comment"  class="list-item align-items-start">
                                  

                                
                                    <div class="main">
                                        <div class="main_info d-flex flex-column">
                                            <span class="name h4">{{comment.user.username}}</span>
                                            <span class="date">{{comment.date_added|date:"F d, Y"}}</span>
                                        </div>
                                        <p class="text"> <br>
                                            {{comment.text}}
                                        </p>
             
                                    </div>
 {% if request.user.username == comment.user.username %}
        <span  class="replyTrigger">
            <a><i name="{{comment.id}}" id="co" class='likin bx bx-trash'><b> {{soru.text|truncatewords:4}}</b>
            </i></a>
        </span>

                        {% endif %}               
                                        
 
                                       
                                    
                                </li>
                                 
                                
                                {% endfor %}
                            </ul>
                        </section>

                        {% endif %}
                        <section class="post_main-reply">
                            <h3 class="post_main-reply_header">Yorum Ekle</h3>
                            {% if request.user.is_authenticated %}
     
    
                            <form
                                class="contacts_form form d-sm-flex flex-wrap justify-content-between"
                                action="submit_comment"
                                method="POST"
                                data-type="comment"
                                id="commentle"
                            >
                             <img class="avatar" id="avatar" src="https://static.wikia.nocookie.net/adventuretimewithfinnandjake/images/d/df/Happy_Ending_Song_Marceline.png/revision/latest?cb=20160720045831" alt=" " />
                                
                                <textarea minlength="5" class="field textarea required" id="commentMessage" placeholder="Yorum"></textarea>
{% if comment %}
     <button class="btn theme-element theme-element--accent" type="submit">Gönder</button>
{% endif %}
    <a href=""><button class="btn theme-element theme-element--accent" type="submit">Gönder</button></a>
                               
                            </form>
 {% else %}
    <p>Yorum eklemek için <a style="color:blue" href="{% url 'account_signup' %}">Hesap Oluştur</a> veya <a style="color:blue" href="{% url 'account_login' %}">Giriş Yap</a></p>
    <br>
    <br>
    <br>
    <br>
    
{% endif %}
                        </section>
                    </div>
                    <div class="widgets" data-sticky="true" data-stop="">
                        <div class="widgets_item widgets_item--search">
                            <form class="form d-flex" action="#" method="get" id="newsSearch" data-type="search">
                                <input class="field required" id="newsSearchQuery" type="text" placeholder="Search" />
                                <button class="btn theme-element--accent" type="submit">
                                    <i class="icon-search icon"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets_item widgets_item--categories">
                            <h4 class="widgets_item-header">Menü</h4>
                            <ul class="list">
                                <li class="list-item d-flex align-items-center">
                                    <a class="link" href="#">Video Dersler</a>
                                </li>
                                <li class="list-item d-flex align-items-center current">
                                    <a class="link" href="#">Makaleler</a>
                                </li>
                                <li class="list-item d-flex align-items-center">
                                    <a class="link" href="#">Kitaplar</a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="widgets_item widgets_item--recommended">
                            <h4 class="widgets_item-header">Size önerilenler</h4>
                            <ul class="list">
                                <li class="list-item d-flex align-items-center">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </div>
                                    <div class="main d-flex flex-column">
                                        <a class="main_title h5" href="#">Siyer dersleri |30.ders Yahudilerin İslama Olan düşmanlığı</a>
                                        <span class="main_date">June 16, 2021</span>
                                    </div>
                                </li>
                                <li class="list-item d-flex align-items-center">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </div>
                                    <div class="main d-flex flex-column">
                                        <a class="main_title h5" href="#">Siyer dersleri |31.ders Yahudilerin İslama Olan düşmanlığı</a>
                                        <span class="main_date">June 16, 2021</span>
                                    </div>
                                </li>
                                <li class="list-item d-flex align-items-center">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </div>
                                    <div class="main d-flex flex-column">
                                        <a class="main_title h5" href="#">Siyer dersleri |33.ders Yahudilerin İslama Olan düşmanlığı</a>
                                        <span class="main_date">June 16, 2021</span>
                                    </div>
                                </li>
                            </ul>
                        </div>{% if tags %}
                            
                      
                        <div class="widgets_item widgets_item--tags">
                            <h4 class="widgets_item-header">Tag</h4>
                            <ul class="list d-flex flex-wrap">
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">Travel</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">Room</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">People</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">Guide</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent active" href="#">Season</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">City</a>
                                </li>
                                <li class="list-item">
                                    <a class="link underlined underlined--accent" href="#">Sights</a>
                                </li>
                            </ul>
                        </div>  {% endif %}
                        <div class="widgets_item widgets_item--subscribe">
                            <h4 class="widgets_item-header">E-Bültene abone olun</h4>
                            <form class="form d-flex" action="#" method="post" id="subscribe" data-type="subscribe">
                                <input
                                    class="field required"
                                    type="text"
                                    id="subscribeEmail"
                                    data-type="email"
                                    placeholder="Mail adresi"
                                />
                                <button class="btn theme-element--accent" type="submit">
                                    <i class="icon-arrow_right icon"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets_item widgets_item--instagram">
                            <h4 class="widgets_item-header">Instagram</h4>
                            <ul class="list d-grid">
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- latest news post aside start -->
            <aside>
                <section class="latest section section--blockbg">
                    <div class="block"></div>
                    <div class="container">
                        <div class="latest_header d-sm-flex justify-content-between align-items-center">
                            <h2 class="latest_header-title" data-aos="fade-right">Önerilenler</h2>
                            <div class="wrapper" data-aos="fade-left">
                                <a class="d-none btn theme-element theme-element--light" href="news.html">Hepsini gör</a>
                            </div>
                        </div>
                        <ul class="latest_list d-md-flex flex-wrap">
                            <li class="latest_list-item col-md-6 col-xl-4" data-order="1" data-aos="fade-up">
                                <div class="item-wrapper d-md-flex flex-column">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                        <span class="media_label media_label--left"> Travel </span>
                                    </div>
                                    <div class="main d-md-flex flex-column justify-content-between flex-grow-1">
                                        <a class="main_title h4" href="#" data-shave="true"
                                            >Siyer dersleri |30.ders Yahudilerin İslama Olan düşmanlığ</a
                                        >
                                        <p class="main_preview">
                                            Siyer dersleri  ders Yahudilerin İslama Olan  
                                        </p>
                                        <div class="main_metadata">
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-calendar icon"></i>
                                                June 16, 2021
                                            </span>
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-eye icon"></i>
                                                <span class="number">120</span>
                                                <span class="text">views</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="latest_list-item col-md-6 col-xl-4" data-order="2" data-aos="fade-up" data-aos-delay="50">
                                <div class="item-wrapper d-md-flex flex-column">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                        <span class="media_label media_label--left"> Tourist Guide </span>
                                    </div>
                                    <div class="main d-md-flex flex-column justify-content-between flex-grow-1">
                                        <a class="main_title h4" href="#" data-shave="true"
                                            >Siyer dersleri |30.ders Yahudilerin İslama Olan düşmanlığ</a
                                        >
                                        <p class="main_preview">
                                            Ultrices gravida dictum fusce ut placer orci nulla pellentesque. Senect et netus et malesuada
                                        </p>
                                        <div class="main_metadata">
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-calendar icon"></i>
                                                June 16, 2021
                                            </span>
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-eye icon"></i>
                                                <span class="number">120</span>
                                                <span class="text">views</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="latest_list-item col-md-6 col-xl-4" data-order="3" data-aos="fade-up" data-aos-delay="100">
                                <div class="item-wrapper d-md-flex flex-column">
                                    <div class="media">
                                        <picture>
                                            <source data-srcset="{% static "img/placeholder.jpg" %}" srcset="{% static "img/placeholder.jpg" %}" />
                                            <img class="lazy" data-src="{% static "img/placeholder.jpg" %}" src="{% static "img/placeholder.jpg" %}" alt="media" />
                                        </picture>
                                        <span class="media_label media_label--left"> Communication </span>
                                    </div>
                                    <div class="main d-md-flex flex-column justify-content-between flex-grow-1">
                                        <a class="main_title h4" href="#" data-shave="true">Siyer dersleri |30.ders Yahudilerin İslama Olan düşmanlığ   </a>
                                        <p class="main_preview">
                                            Euismod quis viverra nibh cras pulvinar mattis nunc. Leo duis ut diam quam. Sed velit dignissim
                                        </p>
                                        <div class="main_metadata">
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-calendar icon"></i>
                                                June 16, 2021
                                            </span>
                                            <span class="main_metadata-item d-inline-flex align-items-center">
                                                <i class="icon-eye icon"></i>
                                                <span class="number">120</span>
                                                <span class="text">views</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </aside>
            <!-- latest news post aside end -->
        </main>
 

 
        {% endblock content %}
 {% block script_area %}
     
<script type="text/javascript">
    
     $('#like').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'like' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    if(response.liked==true){
                    $( "#like" ).removeClass('bx-like').addClass('bxs-like');
                    $( "#like" ).html(response.likes_count);
                       
                    }else if(response.liked==false){
                      $( "#like").removeClass('bxs-like').addClass('bx-like'); 
                      $( "#like").html(response.likes_count) 
                    }
               
                },
                error: function(rs, e) {
                       alert('Beğeni yapmak için lütfen hesap oluştur.');
                       location.reload();
                       consolo.log('Olmadı')
                }
          }); 
    });
</script> 
<script type="text/javascript">
     $('#commentle').on('submit', function(e){
        e.preventDefault();
        $.ajax({
               type: "POST",
               url: "{{content.slug}}",
               data: {
                'text': $('#commentMessage').val(),
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'operation':'submit_comment',
                 dataType: "json",
           },
              
               success: function(response) {
                
                    $('#yorumlar').load(window.location.href + " #yorumlar");
                                    location.reload(); 

                },
                error: function(rs, e) {
                       alert('Yorum yapmak için lütfen hesap oluştur.');
                       location.reload();
                       console.log('Hataaa')
                }
          });
    });


</script>
<script type="text/javascript">
    $(".likin","li > span > a").click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'delete_comment' %}",
             data: {'comment_id': $(this).attr('name'),'csrfmiddlewaretoken': '{{ csrf_token }}','operation':'delete_comment'},
             dataType: "json",
             success: function(response) {

                selector = document.getElementsByName(response.comment_id);
                $(selector).html(response.msg)
                $(selector,"li").hide();
                location.reload(); 


                 if (response.bos_gari){
                        $('#eff').html("<div id='eff'><h3 data-aos='fade-left' > </h3><h4>"+ response.msg+"</h4> </div>")
                          function hide_itt(){
 
                 $('#eff').hide();
            }
                        setTimeout(hide_itt, 3200);
                 }
                function hide_it(){
                 $(selector).html('');
                 $(selector,"span > a").removeAttr("class");
                 $(selector,"span > a").removeAttr("name");
                 $(selector).removeAttr("class");
            }
                setTimeout(hide_it, 500);
            }
        });
    })
</script>
 {% endblock script_area %}